<h1 mat-dialog-title class="dialog-title">Criar/Editar Autor</h1>
<form [formGroup]="autorForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome">
    <mat-error *ngIf="descricao?.invalid">{{ getDescricaoErrorMessage() }}</mat-error>
  </mat-form-field>
  <div class="form-buttons">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="autorForm.invalid">Salvar</button>
  </div>
</form>
