.mat-toolbar {
  height: 80px;
  background-color: #1976d2; 
  color: white;
}

.toolbar-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.search-container {
  max-width: 800px;
  flex: 1;
}

.report-btn {
  background-color: #ff5722; 
}


.new-livro-btn-container {
  display: flex;
  gap: 20px; /* Adiciona espaçamento entre os botões */
  align-items: center;
}

.new-livro-btn, .report-btn {
  background-color: #ffffff;
  color: #1976d2;
  border-radius: 25px;
  padding: 8px 20px;
  font-weight: bold;
  text-transform: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.new-livro-btn mat-icon {
  margin-right: 8px;
}

.new-livro-btn:hover {
  background-color: #e3f2fd;
}

.livro-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px;
  justify-content: center;
}

.livro-card {
  position: relative; /* Adiciona contexto de posicionamento para o status label */
  flex: 0 1 calc(25% - 24px);
  background: #fafafa;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.livro-card:hover {
  transform: translateY(-4px);
}

.livro-list mat-card-title.cor-fonte,
.livro-list mat-card-subtitle.cor-fonte {
  color: #1e88e5 !important;
}

.livro-list mat-card-content p {
  color: #616161;
  font-size: 0.9rem;
}

.ano-label {
  position: absolute;
  top: 16px;
  right: 16px; 
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.6); /* Adiciona fundo sutil para legibilidade */
  font-size: 0.8rem;
}


.mat-card-actions {
  padding: 12px 16px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e0e0e0;
}

.action-btn {
  color: #1976d2;
  font-weight: bold;
  text-transform: none;
}

.action-btn mat-icon {
  margin-right: 4px;
}


.no-livros {
  text-align: center;
  color: #757575;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.mat-paginator {
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 1200px) {
  .livro-card {
    flex: 0 1 calc(33.333% - 24px);
  }
}

@media (max-width: 992px) {
  .livro-card {
    flex: 0 1 calc(50% - 24px);
  }
}

@media (max-width: 768px) {
  .livro-card {
    flex: 0 1 100%;
  }
}
